* {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 5% 10%;
}

.card {
  background: #f3f3f2;
  box-shadow: 0 0 10px rgba(167, 167, 167, 0.5);
  width: 50%;
  height: auto;
  margin: 20px;
  padding: 20px;
}
.card-img img {
  width: 100%;
  height: 250px;
}
.card-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-info-price {
  margin-top: 20px;
  font-size: 15px;
  color: #777777;
  display: flex;
  justify-content: space-between;
}
.card-info-btn {
  width: 100%;
  height: auto;
  margin: 10% 0;
  padding: 3%;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(167, 167, 167, 0.5);
  border-width: 0ch;
  background-color: #dfb729;
  color: wheat;
  font-size: 20px;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 15%;
}
.header-logo {
  font-size: 20px;
  color: #363636;
}
a {
  text-decoration: none;
  margin-right: 20px;
}
li {
  list-style: none;
}

#myTopnav a {
  color: #363636;
}
.intro {
  color: #777777;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/26/desk-1081708_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  padding: 4% 18%;
  background-repeat: no-repeat;
}
.intro p {
  font-size: 20px;
  font-weight: 400;
  text-align: start;
  line-height: 2;
}
.intro h2 {
  color: #dfb729;
  padding-top: 20%;
  font-size: 40px;
  letter-spacing: 6px;
}
/*popup start*/
.popup-bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2931336b;
  width: 100%;
  height: 100%;
}
.popup {
  position: flex;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(167, 167, 167, 0.288);
 justify-self: center;
  margin:1% 20%;
  height: 80%;
  padding: 5%;
}
.popup-top {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  color: #dfb729;
  line-height: 1.5;
  font-size: 30px;
  letter-spacing: 3px;
}
.popup-list {
  font-size: 20px;
  color: #363636;
  line-height: 2.5;
  overflow: scroll;
  height: 75%;
}
.popup-list ul li {
  display: flex;
  justify-content: center;
  word-spacing: 10%;
  margin: 5%;
  background-color: #cfcfcf23;
  border-radius: 10px;
  padding: 5px;
}
.popUp-price{
  color: #dfb729;
  font-size: 18px;
}
.popup-list-btn {
  width: 100%;
  height: 10%;
  margin: 5% 0;
  border-radius: 7px;
  border: 3px solid #dfb729;
  background-color: #ffffff;
  color: #dfb729;
  font-size: 30px;
  cursor: pointer;
}
.popup-list-btn:hover {
  background-color: #dfb729;
  color: #ffffff;
}
/*popup end*/
footer {
  padding-top: 3%;
  background-color: #293133;
  height: 50px;
  width: 100%;
  font-size: 25px;
}
footer div {
  display: flex;
  justify-content: space-between;
  margin: auto 15%;
}
footer p {
  color: #dfb729;
}
footer a {
  color: white;
}
